**/CMakeFiles/*
**/cmake/*
*.cmake
cert_chain_parsing/sslcert/**/*.p12
cert_chain_parsing/sslcert/**/*.pem
cert_chain_parsing/sslcert/**/*.key
cert_chain_parsing/sslcert/**/*.crt
cert_chain_parsing/sslcert/**/*.csr
cert_chain_parsing/sslcert/**/*.old
cert_chain_parsing/sslcert/**/*.attr
cert_chain_parsing/sslcert/index.txt
cert_chain_parsing/sslcert/serial
